{
    "Logging": {
        "LogLevel": {
            "Default": "Debug",
            "System": "Information",
            "Microsoft": "Information",
            "DSharpPlus": "Information"
        }
    },
    "DiscordConfiguration": {
        "Token": ""
    },
    "Notifications": {
        "WebhookUrl": ""
    },
    "TwentyFourSevenConfig": {
        "Channel": 0,
        "Track": ""
    }
}
